html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 767.5250000000005px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/wrapper2.png") no-repeat center top;
}

#page_position_content
{
	margin-top: 30px;
	margin-bottom: -188px;
}

#pu6892
{
	width: 0.01px;
	margin-left: 119px;
	position: relative;
}

#u6892
{
	z-index: 169;
	width: 109px;
	height: 112px;
	position: relative;
	margin-right: -10000px;
}

#pu6893
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 708px;
}

#u6893
{
	z-index: 170;
	width: 173px;
	height: 101px;
	position: relative;
}

#u6923-4
{
	z-index: 171;
	display: block;
	vertical-align: top;
	margin-left: 54px;
	margin-top: 1px;
	position: relative;
}

#pu985
{
	width: 0.01px;
	margin-left: 63px;
	margin-top: 3px;
	position: relative;
}

#u985
{
	z-index: 2;
	width: 898px;
	position: relative;
	margin-right: -10000px;
}

#u1021-4
{
	z-index: 82;
	width: 265px;
	min-height: 18px;
	font-size: 30px;
	color: #13A8D2;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 317px;
}

#pu1014
{
	width: 0.01px;
	margin-left: 27px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u1014
{
	z-index: 4;
	width: 582px;
	height: 252px;
	-pie-box-shadow: none;
	-moz-box-shadow: 2px 1px 12px rgba(0, 0, 0, 0.53);
	-webkit-box-shadow: 2px 1px 12px -1px rgba(0, 0, 0, 0.53);
	box-shadow: 2px 1px 12px rgba(0, 0, 0, 0.53);
	border-width: 8px;
	border-style: solid;
	border-color: #C1C1C1;
	position: relative;
	margin-right: -10000px;
	left: -4px;
	background: transparent url("../images/gloriamercedez.gif") no-repeat left top;
}

#pu3536
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 697px;
}

#u3536
{
	z-index: 102;
	width: 279px;
	margin-left: 1px;
	position: relative;
}

#u3537
{
	z-index: 103;
	width: 279px;
	-pie-box-shadow: 0px 0px 8px 2px #B0B0B0;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0000FF));
	background: -webkit-linear-gradient(top,#29ABE2 ,#0000FF 100%);
	background: -moz-linear-gradient(top,#29ABE2 ,#0000FF 100%);
	background: -ms-linear-gradient(top,#29ABE2 ,#0000FF 100%);
	background: -o-linear-gradient(top,#29ABE2 ,#0000FF 100%);
	background: linear-gradient(to bottom,#29ABE2 ,#0000FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF29ABE2, endColorstr=#FF0000FF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF29ABE2', endColorstr='#FF0000FF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u3539
{
	z-index: 108;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 16px;
}

#u3538-4
{
	z-index: 104;
	width: 67px;
	min-height: 18px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 47px;
}

#u3538-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 10px -10000px 0px 0px;
}

#u3549
{
	z-index: 118;
	width: 277px;
	margin-top: 11px;
	position: relative;
}

#u3550
{
	z-index: 119;
	width: 277px;
	-pie-box-shadow: 0px 0px 8px 2px #B0B0B0;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	background: -webkit-gradient(linear, center top, center bottom, from(#F66464),color-stop(100%, #C11111));
	background: -webkit-linear-gradient(top,#F66464 ,#C11111 100%);
	background: -moz-linear-gradient(top,#F66464 ,#C11111 100%);
	background: -ms-linear-gradient(top,#F66464 ,#C11111 100%);
	background: -o-linear-gradient(top,#F66464 ,#C11111 100%);
	background: linear-gradient(to bottom,#F66464 ,#C11111 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF66464, endColorstr=#FFC11111, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF66464', endColorstr='#FFC11111', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u3552
{
	z-index: 124;
	width: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 18px;
}

#u3551-4
{
	z-index: 120;
	width: 102px;
	min-height: 18px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 47px;
}

#u3542
{
	z-index: 110;
	width: 279px;
	margin-left: 1px;
	margin-top: 11px;
	position: relative;
}

#u3544
{
	z-index: 111;
	width: 279px;
	-pie-box-shadow: 0px 0px 8px 2px #B0B0B0;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	background: -webkit-gradient(linear, center top, center bottom, from(#F49B32),color-stop(100%, #EF490E));
	background: -webkit-linear-gradient(top,#F49B32 ,#EF490E 100%);
	background: -moz-linear-gradient(top,#F49B32 ,#EF490E 100%);
	background: -ms-linear-gradient(top,#F49B32 ,#EF490E 100%);
	background: -o-linear-gradient(top,#F49B32 ,#EF490E 100%);
	background: linear-gradient(to bottom,#F49B32 ,#EF490E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF49B32, endColorstr=#FFEF490E, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF49B32', endColorstr='#FFEF490E', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3545
{
	z-index: 116;
	width: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 16px;
}

#u3543-4
{
	z-index: 112;
	width: 102px;
	min-height: 18px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 47px;
}

#u3543-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u3572
{
	z-index: 86;
	width: 280px;
	-pie-box-shadow: 0px 0px 8px 2px #B0B0B0;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	background: -webkit-gradient(linear, center top, center bottom, from(#6BC80D),color-stop(100%, #009245));
	background: -webkit-linear-gradient(top,#6BC80D ,#009245 100%);
	background: -moz-linear-gradient(top,#6BC80D ,#009245 100%);
	background: -ms-linear-gradient(top,#6BC80D ,#009245 100%);
	background: -o-linear-gradient(top,#6BC80D ,#009245 100%);
	background: linear-gradient(to bottom,#6BC80D ,#009245 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF6BC80D, endColorstr=#FF009245, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6BC80D', endColorstr='#FF009245', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 8px;
	margin-top: 11px;
	position: relative;
}

#u3561
{
	z-index: 88;
	width: 265px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 17px;
}

#u3562
{
	z-index: 93;
	width: 22px;
	position: relative;
	margin-right: -10000px;
}

#u3564-4
{
	z-index: 89;
	width: 234px;
	min-height: 18px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 31px;
}

#u3556
{
	z-index: 87;
	width: 279px;
	-pie-box-shadow: 0px 0px 8px 2px #B0B0B0;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	background: -webkit-gradient(linear, center top, center bottom, from(#13A8D2),color-stop(100%, #0061A2));
	background: -webkit-linear-gradient(top,#13A8D2 ,#0061A2 100%);
	background: -moz-linear-gradient(top,#13A8D2 ,#0061A2 100%);
	background: -ms-linear-gradient(top,#13A8D2 ,#0061A2 100%);
	background: -o-linear-gradient(top,#13A8D2 ,#0061A2 100%);
	background: linear-gradient(to bottom,#13A8D2 ,#0061A2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF13A8D2, endColorstr=#FF0061A2, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF13A8D2', endColorstr='#FF0061A2', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 6px;
	margin-top: 12px;
	position: relative;
}

#u3556.MuseLinkActive
{
	margin: 12px 0px 0px;
}

#u3566
{
	z-index: 95;
	width: 211px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 16px;
}

#u3568
{
	z-index: 100;
	width: 22px;
	position: relative;
	margin-right: -10000px;
}

#u3567-4
{
	z-index: 96;
	width: 180px;
	min-height: 18px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 31px;
}

#pu3831-4
{
	width: 0.01px;
	margin-top: 13px;
	position: relative;
}

#u3831-4
{
	z-index: 134;
	width: 98px;
	min-height: 17px;
	font-size: 16px;
	color: #5F5D5D;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u3833-4
{
	z-index: 142;
	width: 270px;
	color: #C3C3C3;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#pu1015-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 8px;
	position: relative;
}

#u1015-4
{
	z-index: 5;
	width: 143px;
	min-height: 18px;
	font-size: 18px;
	color: #000000;
	font-family: Times, Times New Roman, Georgia, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 7px;
}

#u1016-4
{
	z-index: 9;
	width: 597px;
	color: #C3C3C3;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u3832-4
{
	z-index: 138;
	width: 87px;
	min-height: 17px;
	font-size: 16px;
	color: #5F5D5D;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 705px;
}

#pu1017-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 13px;
	position: relative;
}

#u1017-4
{
	z-index: 13;
	width: 597px;
	color: #C3C3C3;
	position: relative;
	margin-right: -10000px;
	margin-top: 1362px;
}

#u1018-65
{
	z-index: 17;
	width: 590px;
	min-height: 768px;
	position: relative;
	margin-right: -10000px;
	left: 7px;
}

#u1018-2
{
	font-size: 24px;
	line-height: 1.3;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u1018-3
{
	line-height: 1.3;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	font-style: italic;
}

#u1018-4
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	font-style: italic;
}

#u1018-33
{
	line-height: 1.3;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
}

#u1018-10,#u1018-12,#u1018-40,#u1018-47,#u1018-52,#u1018-54
{
	line-height: 1.3;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u1018-14,#u1018-18,#u1018-22,#u1018-35,#u1018-42,#u1018-49,#u1018-56
{
	font-weight: bold;
}

#u1018-6,#u1018-7,#u1018-9,#u1018-13,#u1018-16,#u1018-17,#u1018-20,#u1018-21,#u1018-24,#u1018-25,#u1018-27,#u1018-28,#u1018-30,#u1018-31,#u1018-34,#u1018-37,#u1018-38,#u1018-41,#u1018-44,#u1018-45,#u1018-48,#u1018-51,#u1018-55,#u1018-58,#u1018-59,#u1018-61,#u1018-62
{
	line-height: 1.3;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u3527
{
	z-index: 126;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 750px;
}

#u3570
{
	z-index: 128;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 799px;
}

#u3529
{
	z-index: 132;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 849px;
}

#u3531
{
	z-index: 130;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 898px;
}

#u5979
{
	z-index: 146;
	width: 1224px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #0000FF;
	position: relative;
	left: -100px;
	margin-top: 62px;
}

#pu5980
{
	width: 0.01px;
	left: -100px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u5980
{
	z-index: 147;
	width: 981px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 120px;
}

#slideshowu5981
{
	z-index: 148;
	width: 0.01px;
	height: 106px;
	position: relative;
}

#u6000
{
	position: absolute;
	width: 980px;
	height: 106px;
	background-color: transparent;
}

#u6000popup
{
	z-index: 149;
}

#u6003
{
	z-index: 150;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.ie #u6892,.ie #u6893,.ie #u6003
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6010
{
	z-index: 151;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6012
{
	z-index: 153;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6004
{
	z-index: 155;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6001
{
	z-index: 157;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6006
{
	z-index: 159;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6008
{
	z-index: 161;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u6042
{
	z-index: 163;
	width: 979px;
	height: 99px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 3px 14px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	top: -102px;
	margin-bottom: -101px;
	position: relative;
}

#u6043
{
	z-index: 164;
	width: 1224px;
	height: 179px;
	border-style: none;
	border-color: transparent;
	opacity: 0.09;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=9)";
	filter: alpha(opacity=9);
	position: relative;
	margin-right: -10000px;
	background: #FF0000 url("../images/dark_wood.png") repeat left top;
}

#u6044-4
{
	z-index: 165;
	display: block;
	vertical-align: top;
	position: relative;
	width: 87px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 119px;
}

body
{
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

