html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 767.5250000000001px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/wrapper2.png") no-repeat center top;
}

#page_position_content
{
	margin-top: 34px;
	margin-bottom: -188px;
}

#pu6877
{
	width: 0.01px;
	padding-bottom: 3px;
	margin-left: 130px;
	position: relative;
}

#u6877
{
	z-index: 123;
	width: 109px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -11px;
}

#u6896
{
	z-index: 124;
	width: 109px;
	height: 112px;
	position: relative;
	margin-right: -10000px;
}

#pu6876
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: 697px;
}

#u6876
{
	z-index: 122;
	width: 173px;
	position: relative;
}

#u6897
{
	z-index: 125;
	width: 173px;
	height: 101px;
	position: relative;
	margin-right: -10000px;
}

#u6927-4
{
	z-index: 127;
	display: block;
	vertical-align: top;
	margin-left: 54px;
	margin-top: 1px;
	position: relative;
}

#pu937
{
	width: 0.01px;
	margin-left: 63px;
	position: relative;
}

#u937
{
	z-index: 2;
	width: 898px;
	position: relative;
	margin-right: -10000px;
}

#u973-4
{
	z-index: 35;
	width: 367px;
	min-height: 18px;
	font-size: 30px;
	color: #6BC80D;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 276px;
}

#pu966
{
	width: 0.01px;
	margin-left: 27px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u966
{
	z-index: 4;
	width: 582px;
	height: 252px;
	-pie-box-shadow: none;
	-moz-box-shadow: 2px 1px 12px rgba(0, 0, 0, 0.53);
	-webkit-box-shadow: 2px 1px 12px -1px rgba(0, 0, 0, 0.53);
	box-shadow: 2px 1px 12px rgba(0, 0, 0, 0.53);
	border-width: 8px;
	border-style: solid;
	border-color: #C1C1C1;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	left: -4px;
	background: transparent url("../images/img_con_coor.gif") no-repeat left top;
}

#pu3478
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 697px;
}

#u3478
{
	z-index: 67;
	width: 279px;
	margin-left: 1px;
	position: relative;
}

#u3479
{
	z-index: 68;
	width: 279px;
	-pie-box-shadow: 0px 0px 8px 2px #B0B0B0;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0000FF));
	background: -webkit-linear-gradient(top,#29ABE2 ,#0000FF 100%);
	background: -moz-linear-gradient(top,#29ABE2 ,#0000FF 100%);
	background: -ms-linear-gradient(top,#29ABE2 ,#0000FF 100%);
	background: -o-linear-gradient(top,#29ABE2 ,#0000FF 100%);
	background: linear-gradient(to bottom,#29ABE2 ,#0000FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF29ABE2, endColorstr=#FF0000FF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF29ABE2', endColorstr='#FF0000FF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u3481
{
	z-index: 73;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 16px;
}

#u3480-4
{
	z-index: 69;
	width: 67px;
	min-height: 18px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 47px;
}

#u3480-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 10px -10000px 0px 0px;
}

#u3491
{
	z-index: 83;
	width: 277px;
	margin-top: 11px;
	position: relative;
}

#u3492
{
	z-index: 84;
	width: 277px;
	-pie-box-shadow: 0px 0px 8px 2px #B0B0B0;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	background: -webkit-gradient(linear, center top, center bottom, from(#F66464),color-stop(100%, #C11111));
	background: -webkit-linear-gradient(top,#F66464 ,#C11111 100%);
	background: -moz-linear-gradient(top,#F66464 ,#C11111 100%);
	background: -ms-linear-gradient(top,#F66464 ,#C11111 100%);
	background: -o-linear-gradient(top,#F66464 ,#C11111 100%);
	background: linear-gradient(to bottom,#F66464 ,#C11111 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF66464, endColorstr=#FFC11111, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF66464', endColorstr='#FFC11111', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u3494
{
	z-index: 89;
	width: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 18px;
}

#u3493-4
{
	z-index: 85;
	width: 102px;
	min-height: 18px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 47px;
}

#u3484
{
	z-index: 75;
	width: 279px;
	margin-left: 1px;
	margin-top: 11px;
	position: relative;
}

#u3486
{
	z-index: 76;
	width: 279px;
	-pie-box-shadow: 0px 0px 8px 2px #B0B0B0;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	background: -webkit-gradient(linear, center top, center bottom, from(#F49B32),color-stop(100%, #EF490E));
	background: -webkit-linear-gradient(top,#F49B32 ,#EF490E 100%);
	background: -moz-linear-gradient(top,#F49B32 ,#EF490E 100%);
	background: -ms-linear-gradient(top,#F49B32 ,#EF490E 100%);
	background: -o-linear-gradient(top,#F49B32 ,#EF490E 100%);
	background: linear-gradient(to bottom,#F49B32 ,#EF490E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF49B32, endColorstr=#FFEF490E, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF49B32', endColorstr='#FFEF490E', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3487
{
	z-index: 81;
	width: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 16px;
}

#u3485-4
{
	z-index: 77;
	width: 102px;
	min-height: 18px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 47px;
}

#u3485-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u3514
{
	z-index: 39;
	width: 280px;
	-pie-box-shadow: 0px 0px 8px 2px #B0B0B0;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	background: -webkit-gradient(linear, center top, center bottom, from(#6BC80D),color-stop(100%, #009245));
	background: -webkit-linear-gradient(top,#6BC80D ,#009245 100%);
	background: -moz-linear-gradient(top,#6BC80D ,#009245 100%);
	background: -ms-linear-gradient(top,#6BC80D ,#009245 100%);
	background: -o-linear-gradient(top,#6BC80D ,#009245 100%);
	background: linear-gradient(to bottom,#6BC80D ,#009245 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF6BC80D, endColorstr=#FF009245, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6BC80D', endColorstr='#FF009245', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 8px;
	margin-top: 11px;
	position: relative;
}

#u3503
{
	z-index: 53;
	width: 265px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 17px;
}

#u3504
{
	z-index: 58;
	width: 22px;
	position: relative;
	margin-right: -10000px;
}

#u3506-4
{
	z-index: 54;
	width: 234px;
	min-height: 18px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 31px;
}

#pu3499-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u3499-4
{
	z-index: 41;
	width: 98px;
	min-height: 17px;
	font-size: 16px;
	color: #5F5D5D;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u3500-4
{
	z-index: 49;
	width: 270px;
	color: #C3C3C3;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u3476-4
{
	z-index: 45;
	width: 246px;
	min-height: 17px;
	font-size: 16px;
	color: #5F5D5D;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 1px;
	margin-top: 9px;
	position: relative;
}

#pu967-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 5px;
	position: relative;
}

#u967-4
{
	z-index: 5;
	width: 387px;
	min-height: 18px;
	font-size: 18px;
	color: #000000;
	font-family: Times, Times New Roman, Georgia, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 7px;
}

#u968-4
{
	z-index: 9;
	width: 597px;
	color: #C3C3C3;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
}

#u3498
{
	z-index: 40;
	width: 279px;
	-pie-box-shadow: 0px 0px 8px 2px #B0B0B0;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	background: -webkit-gradient(linear, center top, center bottom, from(#13A8D2),color-stop(100%, #0061A2));
	background: -webkit-linear-gradient(top,#13A8D2 ,#0061A2 100%);
	background: -moz-linear-gradient(top,#13A8D2 ,#0061A2 100%);
	background: -ms-linear-gradient(top,#13A8D2 ,#0061A2 100%);
	background: -o-linear-gradient(top,#13A8D2 ,#0061A2 100%);
	background: linear-gradient(to bottom,#13A8D2 ,#0061A2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF13A8D2, endColorstr=#FF0061A2, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF13A8D2', endColorstr='#FF0061A2', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 705px;
}

#u3508
{
	z-index: 60;
	width: 211px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 16px;
}

#u3510
{
	z-index: 65;
	width: 22px;
	position: relative;
	margin-right: -10000px;
}

#u3509-4
{
	z-index: 61;
	width: 180px;
	min-height: 18px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 31px;
}

#pu970-18
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 13px;
	position: relative;
}

#u970-18
{
	z-index: 17;
	width: 590px;
	min-height: 328px;
	position: relative;
	margin-right: -10000px;
}

#u970-2
{
	font-size: 24px;
	line-height: 1.3;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u970-3,#u970-4,#u970-6,#u970-7,#u970-9,#u970-10,#u970-12,#u970-13,#u970-14,#u970-15
{
	line-height: 1.3;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u3469
{
	z-index: 91;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 743px;
}

#u3512
{
	z-index: 93;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 792px;
}

#u3471
{
	z-index: 97;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 842px;
}

#u3473
{
	z-index: 95;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 891px;
}

#u6915
{
	z-index: 126;
	width: 480px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 349px;
	left: 55px;
}

#u969-4
{
	z-index: 13;
	width: 597px;
	color: #C3C3C3;
	margin-left: 20px;
	margin-top: 14px;
	position: relative;
}

#u5901
{
	z-index: 99;
	width: 1224px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #0000FF;
	position: relative;
	left: -100px;
	margin-top: 62px;
}

#pu5902
{
	width: 0.01px;
	left: -100px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u5902
{
	z-index: 100;
	width: 981px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 120px;
}

#slideshowu5903
{
	z-index: 101;
	width: 0.01px;
	height: 106px;
	position: relative;
}

#u5922
{
	position: absolute;
	width: 980px;
	height: 106px;
	background-color: transparent;
}

#u5922popup
{
	z-index: 102;
}

#u5925
{
	z-index: 103;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.ie #u6896,.ie #u6897,.ie #u5925
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5932
{
	z-index: 104;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5934
{
	z-index: 106;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5926
{
	z-index: 108;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5923
{
	z-index: 110;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5928
{
	z-index: 112;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5930
{
	z-index: 114;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5964
{
	z-index: 116;
	width: 979px;
	height: 99px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 3px 14px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	top: -102px;
	margin-bottom: -101px;
	position: relative;
}

#u5965
{
	z-index: 117;
	width: 1224px;
	height: 179px;
	border-style: none;
	border-color: transparent;
	opacity: 0.09;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=9)";
	filter: alpha(opacity=9);
	position: relative;
	margin-right: -10000px;
	background: #FF0000 url("../images/dark_wood.png") repeat left top;
}

#u5966-4
{
	z-index: 118;
	display: block;
	vertical-align: top;
	position: relative;
	width: 87px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 119px;
}

body
{
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

