html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1777.6250000000002px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/wrapper2.png") no-repeat center top;
}

#page_position_content
{
	margin-top: 30px;
	margin-bottom: -188px;
}

#pu6890
{
	width: 0.01px;
	margin-left: 119px;
	position: relative;
}

#u6890
{
	z-index: 156;
	width: 109px;
	height: 112px;
	position: relative;
	margin-right: -10000px;
}

#pu6891
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 708px;
}

#u6891
{
	z-index: 157;
	width: 173px;
	height: 101px;
	position: relative;
}

#u6922-4
{
	z-index: 158;
	display: block;
	vertical-align: top;
	margin-left: 54px;
	margin-top: 1px;
	position: relative;
}

#pu889
{
	width: 0.01px;
	margin-left: 63px;
	margin-top: 3px;
	position: relative;
}

#u889
{
	z-index: 2;
	width: 898px;
	position: relative;
	margin-right: -10000px;
}

#u925-4
{
	z-index: 69;
	width: 375px;
	min-height: 18px;
	font-size: 30px;
	color: #6BC80D;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 274px;
}

#pu918
{
	width: 0.01px;
	margin-left: 27px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u918
{
	z-index: 4;
	width: 582px;
	height: 252px;
	-pie-box-shadow: none;
	-moz-box-shadow: 2px 1px 12px rgba(0, 0, 0, 0.53);
	-webkit-box-shadow: 2px 1px 12px -1px rgba(0, 0, 0, 0.53);
	box-shadow: 2px 1px 12px rgba(0, 0, 0, 0.53);
	border-width: 8px;
	border-style: solid;
	border-color: #C1C1C1;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	left: -4px;
	background: transparent url("../images/semedellin.gif") no-repeat left top;
}

#pu3420
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 697px;
}

#u3420
{
	z-index: 101;
	width: 279px;
	margin-left: 1px;
	position: relative;
}

#u3421
{
	z-index: 102;
	width: 279px;
	-pie-box-shadow: 0px 0px 8px 2px #B0B0B0;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0000FF));
	background: -webkit-linear-gradient(top,#29ABE2 ,#0000FF 100%);
	background: -moz-linear-gradient(top,#29ABE2 ,#0000FF 100%);
	background: -ms-linear-gradient(top,#29ABE2 ,#0000FF 100%);
	background: -o-linear-gradient(top,#29ABE2 ,#0000FF 100%);
	background: linear-gradient(to bottom,#29ABE2 ,#0000FF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF29ABE2, endColorstr=#FF0000FF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF29ABE2', endColorstr='#FF0000FF', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u3423
{
	z-index: 107;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 16px;
}

#u3422-4
{
	z-index: 103;
	width: 67px;
	min-height: 18px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 47px;
}

#u3422-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 10px -10000px 0px 0px;
}

#u3433
{
	z-index: 117;
	width: 277px;
	margin-top: 11px;
	position: relative;
}

#u3434
{
	z-index: 118;
	width: 277px;
	-pie-box-shadow: 0px 0px 8px 2px #B0B0B0;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	background: -webkit-gradient(linear, center top, center bottom, from(#F66464),color-stop(100%, #C11111));
	background: -webkit-linear-gradient(top,#F66464 ,#C11111 100%);
	background: -moz-linear-gradient(top,#F66464 ,#C11111 100%);
	background: -ms-linear-gradient(top,#F66464 ,#C11111 100%);
	background: -o-linear-gradient(top,#F66464 ,#C11111 100%);
	background: linear-gradient(to bottom,#F66464 ,#C11111 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF66464, endColorstr=#FFC11111, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF66464', endColorstr='#FFC11111', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u3436
{
	z-index: 123;
	width: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 18px;
}

#u3435-4
{
	z-index: 119;
	width: 102px;
	min-height: 18px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 47px;
}

#u3426
{
	z-index: 109;
	width: 279px;
	margin-left: 1px;
	margin-top: 11px;
	position: relative;
}

#u3428
{
	z-index: 110;
	width: 279px;
	-pie-box-shadow: 0px 0px 8px 2px #B0B0B0;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	background: -webkit-gradient(linear, center top, center bottom, from(#F49B32),color-stop(100%, #EF490E));
	background: -webkit-linear-gradient(top,#F49B32 ,#EF490E 100%);
	background: -moz-linear-gradient(top,#F49B32 ,#EF490E 100%);
	background: -ms-linear-gradient(top,#F49B32 ,#EF490E 100%);
	background: -o-linear-gradient(top,#F49B32 ,#EF490E 100%);
	background: linear-gradient(to bottom,#F49B32 ,#EF490E 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF49B32, endColorstr=#FFEF490E, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF49B32', endColorstr='#FFEF490E', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3429
{
	z-index: 115;
	width: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 16px;
}

#u3427-4
{
	z-index: 111;
	width: 102px;
	min-height: 18px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 47px;
}

#u3427-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u3456
{
	z-index: 73;
	width: 280px;
	-pie-box-shadow: 0px 0px 8px 2px #B0B0B0;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	background: -webkit-gradient(linear, center top, center bottom, from(#6BC80D),color-stop(100%, #009245));
	background: -webkit-linear-gradient(top,#6BC80D ,#009245 100%);
	background: -moz-linear-gradient(top,#6BC80D ,#009245 100%);
	background: -ms-linear-gradient(top,#6BC80D ,#009245 100%);
	background: -o-linear-gradient(top,#6BC80D ,#009245 100%);
	background: linear-gradient(to bottom,#6BC80D ,#009245 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF6BC80D, endColorstr=#FF009245, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6BC80D', endColorstr='#FF009245', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 8px;
	margin-top: 11px;
	position: relative;
}

#u3456.MuseLinkActive
{
	margin: 11px 0px 0px;
}

#u3445
{
	z-index: 87;
	width: 265px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 17px;
}

#u3446
{
	z-index: 92;
	width: 22px;
	position: relative;
	margin-right: -10000px;
}

#u3448-4
{
	z-index: 88;
	width: 234px;
	min-height: 18px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 31px;
}

#pu3441-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u3441-4
{
	z-index: 75;
	width: 98px;
	min-height: 17px;
	font-size: 16px;
	color: #5F5D5D;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u3442-4
{
	z-index: 83;
	width: 270px;
	color: #C3C3C3;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u3418-4
{
	z-index: 79;
	width: 246px;
	min-height: 17px;
	font-size: 16px;
	color: #5F5D5D;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	margin-left: 1px;
	margin-top: 9px;
	position: relative;
}

#pu919-4
{
	width: 0.01px;
	margin-left: 20px;
	position: relative;
}

#u919-4
{
	z-index: 5;
	width: 143px;
	min-height: 18px;
	font-size: 18px;
	color: #000000;
	font-family: Times, Times New Roman, Georgia, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 7px;
}

#u920-4
{
	z-index: 9;
	width: 597px;
	color: #C3C3C3;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u3440
{
	z-index: 74;
	width: 279px;
	-pie-box-shadow: 0px 0px 8px 2px #B0B0B0;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.61);
	background: -webkit-gradient(linear, center top, center bottom, from(#13A8D2),color-stop(100%, #0061A2));
	background: -webkit-linear-gradient(top,#13A8D2 ,#0061A2 100%);
	background: -moz-linear-gradient(top,#13A8D2 ,#0061A2 100%);
	background: -ms-linear-gradient(top,#13A8D2 ,#0061A2 100%);
	background: -o-linear-gradient(top,#13A8D2 ,#0061A2 100%);
	background: linear-gradient(to bottom,#13A8D2 ,#0061A2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF13A8D2, endColorstr=#FF0061A2, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF13A8D2', endColorstr='#FF0061A2', GradientType=0)";
	border-style: none;
	border-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	left: 705px;
}

#u3450
{
	z-index: 94;
	width: 211px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 16px;
}

#u3452
{
	z-index: 99;
	width: 22px;
	position: relative;
	margin-right: -10000px;
}

#u3451-4
{
	z-index: 95;
	width: 180px;
	min-height: 18px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 31px;
}

#pu921-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 13px;
	position: relative;
}

#u921-4
{
	z-index: 13;
	width: 597px;
	color: #C3C3C3;
	position: relative;
	margin-right: -10000px;
	margin-top: 1035px;
}

#u922-52
{
	z-index: 17;
	width: 590px;
	min-height: 1155px;
	position: relative;
	margin-right: -10000px;
	left: 7px;
}

#u922-2,#u922-4
{
	font-size: 24px;
	line-height: 1.3;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u922-6,#u922-8
{
	line-height: 1.3;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	font-style: italic;
}

#u922-14,#u922-29,#u922-34,#u922-36
{
	line-height: 1.3;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u922-16,#u922-20,#u922-24,#u922-31,#u922-38
{
	font-weight: bold;
}

#u922-5,#u922-9,#u922-11,#u922-12,#u922-15,#u922-18,#u922-19,#u922-22,#u922-23,#u922-26,#u922-27,#u922-30,#u922-33,#u922-37,#u922-40,#u922-41,#u922-42,#u922-43,#u922-44,#u922-45,#u922-46,#u922-47,#u922-48,#u922-49
{
	line-height: 1.3;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u3411
{
	z-index: 125;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 751px;
}

#u3454
{
	z-index: 127;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 801px;
}

#u3413
{
	z-index: 131;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 850px;
}

#u3415
{
	z-index: 129;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	left: 900px;
}

#u5823
{
	z-index: 133;
	width: 1224px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #0000FF;
	position: relative;
	left: -100px;
	margin-top: 62px;
}

#pu5824
{
	width: 0.01px;
	left: -100px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u5824
{
	z-index: 134;
	width: 981px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 120px;
}

#slideshowu5825
{
	z-index: 135;
	width: 0.01px;
	height: 106px;
	position: relative;
}

#u5844
{
	position: absolute;
	width: 980px;
	height: 106px;
	background-color: transparent;
}

#u5844popup
{
	z-index: 136;
}

#u5847
{
	z-index: 137;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.ie #u6890,.ie #u6891,.ie #u5847
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5854
{
	z-index: 138;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5856
{
	z-index: 140;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5848
{
	z-index: 142;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5845
{
	z-index: 144;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5850
{
	z-index: 146;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5852
{
	z-index: 148;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5886
{
	z-index: 150;
	width: 979px;
	height: 99px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 3px 14px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	top: -102px;
	margin-bottom: -101px;
	position: relative;
}

#u5887
{
	z-index: 151;
	width: 1224px;
	height: 179px;
	border-style: none;
	border-color: transparent;
	opacity: 0.09;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=9)";
	filter: alpha(opacity=9);
	position: relative;
	margin-right: -10000px;
	background: #FF0000 url("../images/dark_wood.png") repeat left top;
}

#u5888-4
{
	z-index: 152;
	display: block;
	vertical-align: top;
	position: relative;
	width: 87px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 119px;
}

body
{
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

