html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1609.5250000000005px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF url("../images/wrapper2.png") no-repeat center top;
}

#page_position_content
{
	margin-top: 30px;
	margin-bottom: -188px;
}

#pu6880
{
	width: 0.01px;
	margin-left: 119px;
	position: relative;
}

#u6880
{
	z-index: 142;
	width: 109px;
	height: 112px;
	position: relative;
	margin-right: -10000px;
}

#pu6881
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 708px;
}

#u6881
{
	z-index: 143;
	width: 173px;
	height: 101px;
	position: relative;
}

#u6920-4
{
	z-index: 144;
	display: block;
	vertical-align: top;
	margin-left: 54px;
	margin-top: 1px;
	position: relative;
}

#ppu1572
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 5px;
	position: relative;
}

#pu1572
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
	left: 698px;
}

#u1572
{
	z-index: 3;
	width: 279px;
	height: 39px;
	background: #0061A2 url("../images/u286-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#13A8D2),color-stop(100%, #0061A2));
	background: -webkit-linear-gradient(top,#13A8D2 ,#0061A2 100%);
	background: -moz-linear-gradient(top,#13A8D2 ,#0061A2 100%);
	background: -ms-linear-gradient(top,#13A8D2 ,#0061A2 100%);
	background: -o-linear-gradient(top,#13A8D2 ,#0061A2 100%);
	background: linear-gradient(to bottom,#13A8D2 ,#0061A2 100%);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1572:hover ._u1572.f3s_top
{
	height: 39px;
	background-image: url("../images/u1572-r-full.png");
	background-position: left top;
	width: 279px;
}

#u418
{
	z-index: 5;
	width: 590px;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
}

#u429
{
	z-index: 7;
	width: 582px;
	height: 252px;
	-pie-box-shadow: none;
	-moz-box-shadow: 2px 1px 12px rgba(0, 0, 0, 0.53);
	-webkit-box-shadow: 2px 1px 12px -1px rgba(0, 0, 0, 0.53);
	box-shadow: 2px 1px 12px rgba(0, 0, 0, 0.53);
	border-width: 8px;
	border-style: solid;
	border-color: #C1C1C1;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: -4px;
	background: transparent url("../images/img_editorial.gif") no-repeat left top;
}

#u431
{
	z-index: 8;
	width: 898px;
	position: relative;
	margin-right: -10000px;
	left: 44px;
}

#u430-4
{
	z-index: 10;
	width: 154px;
	min-height: 18px;
	font-size: 30px;
	color: #C11111;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 415px;
}

#u506
{
	z-index: 74;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 284px;
	left: 747px;
}

#u511
{
	z-index: 76;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 284px;
	left: 797px;
}

#u516
{
	z-index: 78;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 284px;
	left: 896px;
}

#u1579
{
	z-index: 80;
	width: 211px;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	left: 714px;
}

#u1559
{
	z-index: 85;
	width: 22px;
	position: relative;
	margin-right: -10000px;
}

#u441-4
{
	z-index: 81;
	width: 180px;
	min-height: 18px;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 31px;
}

#u1633
{
	z-index: 87;
	width: 282px;
	position: relative;
	margin-right: -10000px;
	margin-top: 176px;
	left: 697px;
}

#u1571
{
	z-index: 89;
	width: 280px;
	height: 39px;
	background: #009245 url("../images/u284-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#6BC80D),color-stop(100%, #009245));
	background: -webkit-linear-gradient(top,#6BC80D ,#009245 100%);
	background: -moz-linear-gradient(top,#6BC80D ,#009245 100%);
	background: -ms-linear-gradient(top,#6BC80D ,#009245 100%);
	background: -o-linear-gradient(top,#6BC80D ,#009245 100%);
	background: linear-gradient(to bottom,#6BC80D ,#009245 100%);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1571:hover #u1571
{
	width: 280px;
	background: none;
	-pie-background: none;
	border-style: none;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
}

#pu1571:hover ._u1571.f3s_top
{
	height: 39px;
	background-image: url("../images/u1571-r-full.png");
	background-position: left top;
	width: 280px;
}

#u440-4
{
	z-index: 91;
	width: 234px;
	min-height: 18px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 48px;
}

#u1545
{
	z-index: 95;
	width: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 17px;
}

#u1576
{
	z-index: 97;
	width: 279px;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 698px;
}

#u1570
{
	z-index: 99;
	width: 279px;
	height: 39px;
	background: #0000FF url("../images/u1570-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#29ABE2),color-stop(100%, #0000FF));
	background: -webkit-linear-gradient(top,#29ABE2 ,#0000FF 100%);
	background: -moz-linear-gradient(top,#29ABE2 ,#0000FF 100%);
	background: -ms-linear-gradient(top,#29ABE2 ,#0000FF 100%);
	background: -o-linear-gradient(top,#29ABE2 ,#0000FF 100%);
	background: linear-gradient(to bottom,#29ABE2 ,#0000FF 100%);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1570:hover ._u1570.f3s_top
{
	height: 39px;
	background-image: url("../images/u1570-r-full.png");
	background-position: left top;
	width: 279px;
}

#u1563-4
{
	z-index: 101;
	width: 67px;
	min-height: 18px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 47px;
}

#u1563-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 10px -10000px 0px 0px;
}

#u1564
{
	z-index: 105;
	width: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 16px;
}

#u1577
{
	z-index: 107;
	width: 279px;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 698px;
}

#pu1571,#pu1570,#pu1574
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u1574
{
	z-index: 109;
	width: 279px;
	height: 39px;
	background: #EF490E url("../images/u282-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#F49B32),color-stop(100%, #EF490E));
	background: -webkit-linear-gradient(top,#F49B32 ,#EF490E 100%);
	background: -moz-linear-gradient(top,#F49B32 ,#EF490E 100%);
	background: -ms-linear-gradient(top,#F49B32 ,#EF490E 100%);
	background: -o-linear-gradient(top,#F49B32 ,#EF490E 100%);
	background: linear-gradient(to bottom,#F49B32 ,#EF490E 100%);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1572:hover #u1572,#pu1570:hover #u1570,#pu1574:hover #u1574
{
	width: 279px;
	background: none;
	-pie-background: none;
	border-style: none;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
}

#pu1574:hover ._u1574.f3s_top
{
	height: 39px;
	background-image: url("../images/u1574-r-full.png");
	background-position: left top;
	width: 279px;
}

#u439-4
{
	z-index: 111;
	width: 102px;
	min-height: 18px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 47px;
}

#u439-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 13px -10000px 0px 0px;
}

#u1553
{
	z-index: 115;
	width: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 16px;
}

#u1647
{
	z-index: 117;
	width: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 284px;
	left: 846px;
}

#pu470-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 25px;
	position: relative;
}

#u470-4
{
	z-index: 14;
	width: 105px;
	min-height: 18px;
	font-size: 18px;
	color: #000000;
	font-family: Times, Times New Roman, Georgia, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 7px;
}

#u472-4
{
	z-index: 18;
	width: 597px;
	color: #C3C3C3;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#pu524-4
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 13px;
	position: relative;
}

#u524-4
{
	z-index: 22;
	width: 597px;
	color: #C3C3C3;
	position: relative;
	margin-right: -10000px;
	margin-top: 1505px;
}

#u474-48
{
	z-index: 26;
	width: 590px;
	min-height: 768px;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u474-2
{
	font-size: 24px;
	line-height: 1.3;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	font-style: normal;
}

#u474-3,#u474-5
{
	line-height: 1.3;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	font-style: italic;
}

#u474-39,#u474-41,#u474-43
{
	line-height: 1.3;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u474-6,#u474-8,#u474-9,#u474-11,#u474-12,#u474-14,#u474-15,#u474-17,#u474-18,#u474-20,#u474-21,#u474-23,#u474-24,#u474-26,#u474-27,#u474-29,#u474-30,#u474-32,#u474-33,#u474-35,#u474-36,#u474-37,#u474-44,#u474-45
{
	line-height: 1.3;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
}

#u5432
{
	z-index: 119;
	width: 1224px;
	height: 10px;
	border-style: none;
	border-color: transparent;
	background-color: #0000FF;
	position: relative;
	left: -100px;
	margin-top: 62px;
}

#pu5433
{
	width: 0.01px;
	left: -100px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u5433
{
	z-index: 120;
	width: 981px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 120px;
}

#slideshowu5434
{
	z-index: 121;
	width: 0.01px;
	height: 106px;
	position: relative;
}

#u5453
{
	position: absolute;
	width: 980px;
	height: 106px;
	background-color: transparent;
}

#u5453popup
{
	z-index: 122;
}

#u5456
{
	z-index: 123;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.ie #u6880,.ie #u6881,.ie #u5456
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5463
{
	z-index: 124;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5465
{
	z-index: 126;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5457
{
	z-index: 128;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5454
{
	z-index: 130;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5459
{
	z-index: 132;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5461
{
	z-index: 134;
	width: 980px;
	height: 106px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5495
{
	z-index: 136;
	width: 979px;
	height: 99px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 3px 14px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	top: -102px;
	margin-bottom: -101px;
	position: relative;
}

#u5496
{
	z-index: 137;
	width: 1224px;
	height: 179px;
	border-style: none;
	border-color: transparent;
	opacity: 0.09;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=9)";
	filter: alpha(opacity=9);
	position: relative;
	margin-right: -10000px;
	background: #FF0000 url("../images/dark_wood.png") repeat left top;
}

#u5497-4
{
	z-index: 138;
	display: block;
	vertical-align: top;
	position: relative;
	width: 87px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 119px;
}

body
{
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

